<%= javascript_include_tag 'users/index.js' %>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= form_tag users_path, id: :form do %>
  <input type="hidden" name="_method" value="get" />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= check_box_tag 'id[]', user.id, user.archived %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<button type="button" onclick="submitFnc();submit()">Delete</button>
<% end %>
